<ul id="contact">
<li><a href="#logo" class="icon arrow-up">top</a></li>
<li id="install"><a href="#install" class="icon home-add">install</a></li>
<li><a href="https://www.facebook.com/sharer/sharer.php?u=<%- encodeURIComponent(rootURL + url) %>" class="icon facebook social">share</a></li>
<li><a href="https://twitter.com/intent/tweet/?text=<%- encodeURIComponent(name + ', ' + title + ':') %>&amp;url=<%- encodeURIComponent(rootURL + url) %>" class="icon twitter social">share</a></li>
<li><a href="tel:+44-1395-446453" class="icon phone">call</a></li>
<li><a href="[root]book-accommodation/" class="icon email" data-email="info {at} theoldclink dot co dot uk">email</a></li>
</ul>
