<ul id="contact">
<li><a href="https://www.facebook.com/sharer/sharer.php?u=<%- encodeURIComponent(rootURL + url) %>" class="icon facebook">share</a></li>
<li><a href="https://twitter.com/intent/tweet/?text=<%- encodeURIComponent(name + ', ' + title + ':') %>&amp;url=<%- encodeURIComponent(rootURL + url) %>" class="icon twitter">share</a></li>
<li><a href="tel:+44-1395-446453" class="icon phone">call us</a></li>
<li><a href="[root]book-holiday-home/" class="icon email" data-email="info {at} theoldclink dot co dot uk">email us</a></li>
</ul>
