<header>

  <div id="logo"><p><a href="[root]"><%- name %></a></p></div>

  <% if (hero) { %>
    <figure data-href="[root]images/hero/<%- hero %>.jpg" data-srcset="[root]images/hero/<%- hero %>.jpg 800w, [root]images/hero/<%- hero %>-hi.jpg 1200w" class="hero progressive replace">
      <img src="[root]images/hero/<%- hero %>-pv.jpg" alt="<%= hero.replace(/\d/g, ' ').replace(/\-/g, ' ').replace(/\s+/, ' ').trim(); %>" class="preview" />
    </figure>
  <% } %>

  <% if (heroquote) { %>
  <div class="quote">
    <q><%- heroquote %></q>
    <% if (herocite) { %> <cite><%- herocite %></cite><% } %>
  </div>
  <% } %>

  <% if (ctalink && ctatext) { %>
    <div class="cta"><a href="[root]<%- ctalink %>" class="ghost button"><%- ctatext %></a></div>
  <% } %>

</header>
