<nav class="main">

  <a id="menu" href="#mainmenu" class="noscroll">menu</a>

  <section id="mainmenu">

    <%
      let navHTML = navGenerate(nav);

      function navGenerate(navSet) {

        let navHTML = '';
        for (let p = 0; p < navSet.length; p++) {
          let
            page = navSet[p],
            open = navlist[page.level] === page.item,
            active = open && !navlist[page.level+1];

          if (!page.private) navHTML +=
            '<li' + (open ? ' class="open' + (active ? ' active' : '') + '"' : '') + '>' +
            (active ? '<strong>' : '<a href="' + root + page.url + '">') +
            page.menu +
            (active ? '</strong>' : '</a>') +
            // disable sub-menus (page.nomenu ? '' : navGenerate(page.child)) +
            '</li>';
        }

        return navHTML ? '<ul><li><a href="#menu" title="close" class="noscroll close">&#x2715;</a></li>' + navHTML + '</ul>' : navHTML;
      }
    %>

    <%- navHTML %>

  </section>

</nav>
