// development helper styles

/* @if devBuild */
#togglestyle {
  position: fixed;
  top: 50%;
  left: 0;
  font-family: sans-serif;
  font-size: 10px;
  line-height: 1;
  z-index: 999;
  transform-origin: 10% 50%;
  transform: rotate(-90deg);
}
/* @endif */
