// Generic Sass mixins

// reset padding and margin
@mixin reset {
  padding: 0;
  margin: 0;
}

// reset a list
@mixin reset-list {
  list-style-type: none;
  @include reset;
}

// centre column
@mixin centre-column {
  display: block;
  max-width: 55rem;
  padding-left: 2vw;
  padding-right: 2vw;
  margin-left: auto;
  margin-right: auto;
}

// responsive breakpoint
@mixin respond($bp) {
  @media (min-width: map-get($breakpoint, $bp)) {
    @content;
  }
}
