// Global Sass variables

// fonts
$font-main: Belleza;
$font-main-fallback: sans-serif;
$font-head: 'Jim Nightshade';
$font-head-fallback: serif;

// colours
$color-fore1: #224;
$color-fore2: #88a;
$color-back1: #fff;
$color-back2: #dde;

// responsive breakpoints
$breakpoint: (
	'small'		: 30rem,
	'medium'	: 56rem,
	'large'		: 70rem
);
