// Global Sass variables

// fonts
$font-main: Belleza;
$font-main-fallback: sans-serif;
$font-head: 'Jim Nightshade';
$font-head-fallback: serif;

// colours
$color-fore1: #224;
$color-fore2: #779;
$color-fore3: #44c;
$color-back1: #fff;
$color-back2: #cde;

// responsive breakpoints
$breakpoint: (
	'small'		: 40rem,
	'medium'	: 55rem,
	'large'		: 70rem
);
