// footer styles

footer {

  padding: 1rem 2rem 2rem 2rem;

  @media (min-height: 30em) {
    .scroll-1 & {
      padding-bottom: 6rem;
    }
  }

  p {
    font-size: 0.9em;
    text-align: center;
    margin-top: 0.5em;
  }

  p.dev {
    font-size: 0.8em;
    margin-top: 1.5em;
  }

  a {
    white-space: nowrap;
  }

}
