// footer styles

footer {

  padding: 1rem 0 2em 0;

  p {
    font-size: 0.9em;
    text-align: center;
    margin-top: 0;
  }

  p.dev {
    font-size: 0.8em;
    margin-top: 1.5em;
  }

  a {
    white-space: nowrap;
  }

}
