// header styles
header {

  position: relative;

  img {
    width: 100%;
  }

  .quote {
    padding: 0.3rem 4vw;
  }

  p, q, cite {
    display: block;
    @include centre-column;
    margin-top: 0;
    margin-bottom: 0;
  }

  q {
    font-size: 1.2em;
    text-align: center;
    line-height: 1;
  }

  cite {
    font-size: 0.85em;
    text-align: right;
    margin-top: 0.3em;
  }

  #logo a {
    display: inline-block;
    padding: 0.8rem 0 0.2rem;

    &:link, &:visited {
      color: $color-fore1;
    }

    &:hover, &:active {
      color: $color-fore2;
    }
  }

  @include respond('small') {

    .hero {
      max-height: 70vh;

      &:after {
        position: absolute;
        content: ' ';
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba($color-fore3,0.5);
      }
    }

    .hashero & section {
      position: absolute;
      left: 0;
      right: 0;
    }

    #logo {
      top: 0;
      z-index: 1;

      .hashero & {
        background-color: rgba(255,255,255,0.8);
      }
    }

    .quote {
      font-size: calc(1rem + 2vw);
      top: 12vmin;
      padding: 0;
    }

    .cta {
      bottom: 10vh;
    }

    q, cite {
      text-align: right;
      color: #fff;
      text-shadow: 1px 1px 2px #000, 1px 1px 3px #000;
    }

  }

}


