// Base styles
@import url('/* @echo font */');

html {
  font-size: 100%;
	touch-action: manipulation;
}

body, table, button {
  font-family: $font-main-fallback;
  font-weight: 300;
  line-height: 1.35;
}

body {
  font-size: calc(1em + 0.4vw);
  @include reset;
  color: $color-fore1;
  background-color: $color-back2;
}

table, button {
  font-size: 1rem;
}

h1, #logo {
  font-family: $font-head-fallback;
  font-weight: 300;
  line-height: 1;
}

h2, h3 {
  font-weight: 600;
}

h1 { font-size: 2rem; padding-bottom: 1rem; }
h2, #logo { font-size: 1.6rem; }
h3 { font-size: 1.3rem; }

body.wf-active {

  &, table, button {
    font-family: $font-main;
  }

  h1, #logo {
    font-family: $font-head;
    font-weight: 400;
  }

  h1 { font-size: 2.7rem; }
  #logo { font-size: 2rem; }

}

p, ul, ol {
  margin: 1em 0 0 0;
}

ul {
  list-style-type: disc;
}

strong {
  font-weight: 600;
}

q, em {
  font-style: italic;
}

cite {
  font-style: normal;
}

a {
  text-decoration: none;

  &:link, &:visited {
    color: $color-fore3;
  }

  &:hover, &:focus, &:active {
    color: $color-fore2;
  }

}

img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  @include reset;
  user-select: none;
}

iframe {
  width: 100%;
  height: 20rem;
  padding: 0;
  margin: 1em 0 1.5em 0;
  border: 0 none;
}
