// inlined SVG icons

@mixin icon($name) {
  .#{$name}:before {
    background: inline('images/svg/#{$name}.svg') no-repeat 50% 50%;
  }
}

.icon:before {
  display: inline-block;
  content: ' ';
  width: 1.4em;
  height: 1em;
  vertical-align: middle;
}

@include icon('arrow-up');
@include icon('arrow-up2');
@include icon('arrow-right');
@include icon('tick');
@include icon('phone');
@include icon('email');
@include icon('facebook');
@include icon('twitter');

nav.relative {

  ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;
    margin-top: 2em;
    border-top: 1px solid $color-back2;
  }

  a {
    display: block;
    text-indent: -1.4em;
    padding-left: 1.4em;
    margin: 0.6em 1em 0 0;
  }

}

#contact {
  display: flex;
  max-width: 16em;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;

  li {
    flex: 1 1 4em;
  }

  a {
    display: block;
    width: 100%;
    font-size: 0.8rem;
    text-align: center;
    padding: 6px 2px;
    color: $color-fore1;

    &:before {
      display: block;
      width: 100%;
      height: 3rem;
    }
  }

}

@media (min-height: 30em) {

  .scroll-1 #contact {
    position: fixed;
    max-width: 100%;
    width: 16em;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($color-back2,0.85);
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 2px #000;
    will-change: transform;
    transform: translateY(100%);
    animation: 0.5s ease-out 0.5s forwards showcontact;
  }

}

td.tick {
  font-size: 0;

  &:before {
    font-size: 1rem;
  }
}

// animation
@keyframes showcontact {
	0% { transform: translateY(100%); }
	100% { transform: translateY(0%); }
}
