<%- include('partials/head.html'); %>
<%- include('partials/header.html'); %>

<main itemprop="about" itemscope="itemscope" itemtype="http://schema.org/Article">

  <article itemprop="text">

    <h1 itemprop="name"><%- title %></h1>

    <%- contents %>

  </article>

  <aside>
    <%- include('partials/nav-child.html'); %>

    <%- include('partials/nav-relative.html'); %>
  </aside>

</main>

<%- include('partials/footer.html'); %>

<%- include('partials/contact.html'); %>

<%- include('partials/nav.html'); %>

<%- include('partials/foot.html'); %>
